.row-image {
  width: 24em;
}

h3 {
  text-decoration: underline;
  text-align: center;
}

.highlight {
  color: #ff8800;
  background-color: mediumblue;
}

.box1 {
  border: solid black;
  border-width: 1px;
  background-color: rgb(185, 185, 185);
  margin-bottom: 20px;
  box-sizing: border-box;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  padding: 5px;
}

h1 {
  text-align: left;
}

.name {
  margin-left: 25%;
}

.heading-list {
  margin-left: 40%;
}

.box-img {
  width: 19em;
  float: right;
  margin-right: 5px;
  padding: 5px;
}
