.row-image {
  width: 24em;
}

h3 {
  text-decoration: underline;
  text-align: center;
}

.highlight {
  color: #ff8800;
  background-color: mediumblue;
}

.box1 {
  background-color: #b9b9b9;
  margin-bottom: 20px;
  box-sizing: content-box;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 10px 5px 5px #36516e;
}

h1 {
  text-align: left;
}

.name {
  text-align: center;
}

.heading-list {
  margin-left: 40%;
}

.box-img {
  width: 19em;
  float: right;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  margin-top: 3em;
}

body {
  background-color: rosybrown;
}

.container-color {
  background-color: slategrey;
  border-radius: 25px;
  box-shadow: 10px 10px 5px rgb(146, 106, 106);
}
.other-work {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: rosybrown;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #36516e;
}

.navbar {
  border-radius: 25px;
  background-color: #b9b9b9;
}

.navbar-brand {
  margin-right: 28.5rem;
  margin-left: 1rem;
}

.bio-footer {
  margin-top: -1em;
  margin-bottom: 1em;
}